{{ define "main" }}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="content mb-4">{{ .Content }}</div>
        <div class="row">
          <!-- <div class="col-lg-4 small-post-border">
            <i class="ti-mobile h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Phone</h5>
            {{ .Site.Params.mobile }}
          </div> -->
          <div class="col-lg-6 small-post-border">
            <i class="ti-email h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Email</h5>
            {{ .Site.Params.email }}
          </div>
          <div class="col-lg-6 small-post-border">
            <i class="ti-location-pin h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Ubicación</h5>
            {{ .Site.Params.location | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-sm pb-0 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <!-- <h2 class="mb-4">Hola, Escríbeme</h2> -->
        <form class="row contact-form">
          <div class="col-lg-6">
            <input
              type="text"
              class="form-control mb-4"
              id="name"
              name="name"
              placeholder="Nombre"
              pattern="^[A-Za-zÑñÁáÉéÍíÓóÚúÜü\s]+$"
              title="Nombre sólo acepta letras y expacios en blanco"
            />
          </div>
          <div class="col-lg-6">
            <input
              type="email"
              class="form-control mb-4"
              id="email"
              name="email"
              placeholder="Email"
              pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$"
              title="Email incorrect"
            />
          </div>
          <div class="col-12">
            <textarea
              name="comments"
              id="comments"
              class="form-control mb-4"
              placeholder="Mensaje"
            ></textarea>
          </div>
          <div class="col-12">
            <input type="submit" value="Enviar Mensaje"  class="btn btn-primary">
          </div>
        </form>
        <div class="contact-form-loader text-center none">
          <img src="https://media4.giphy.com/media/3oEjI6SIIHBdRxXI40/200.gif" alt="Enviando..." />
        </div>
        <div class="contact-form-response none">
          <h3>
            ¡Muchas Gracias!<br />
            Por tu mensaje
          </h3>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M12,18c4,0,5-4,5-4H7C7,14,8,18,12,18z" /> <path d="M12,2C6.486,2,2,6.486,2,12c0,5.514,4.486,10,10,10s10-4.486,10-10C22,6.486,17.514,2,12,2z M12,20c-4.411,0-8-3.589-8-8 s3.589-8,8-8s8,3.589,8,8S16.411,20,12,20z" /> <path d="M13 12l2 .012C15.012 11.55 15.194 11 16 11s.988.55 1 1h2c0-1.206-.799-3-3-3S13 10.794 13 12zM8 11c.806 0 .988.55 1 1h2c0-1.206-.799-3-3-3s-3 1.794-3 3l2 .012C7.012 11.55 7.194 11 8 11z"/></svg>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    ((d) => {
    const $form = d.querySelector(".contact-form");
    const $loader = d.querySelector(".contact-form-loader");
    const $response = d.querySelector(".contact-form-response");

    $form.addEventListener("submit", (e) => {
      e.preventDefault();

      $loader.classList.remove("none");
      $form.classList.add("none");

      fetch("https://formsubmit.co/ajax/hugo.rock20@hotmail.com", {
        method: "POST",
        body: new FormData(e.target),
      })
        .then((res) => (res.ok ? res.json() : Promise.reject()))
        .then((json) => {
          $form.reset();
        })
        .catch((err) => {
          console.log(err);
          let message = err.statusText || "An error ocurred, try again";
          $response.querySelector(
            "h3"
          ).innerHTML = `Error ${err.status}: ${message}`;
        })
        .finally(() => {
          setTimeout(() => {
            $response.classList.remove("none");
            $loader.classList.add("none");
          }, 1500);
        });
    });
  })(document);
</script>
{{ end }}

